/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter-Variable', sans-serif;
  --accent-font-family: 'PressStart2P-Regular';
  --font-weight-title: 715;
  --font-weight-text: 410;
  --block-size: clamp(375px, calc(260.563px + 30.516vw), 700px);
  --header-margin-block: 98px;
  --header-padding-block: clamp(7.625rem, 0.751vw + 7.449rem, 8.125rem);
  --header-padding-inline: clamp(1rem, 9.953vw - 1.333rem, 7.625rem);
  --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --text-stroke-color: #fff;
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --sparks-color: #f00;
}
